<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    
  <display-name>Archetype Created Web Application</display-name>
  
   
  <context-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
          /WEB-INF/configuration/root-context.xml
      </param-value>
  </context-param>
  
  <!-- Servlet configuration -->
  <servlet>
      <servlet-name>dispatcherServlet</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <init-param>
          <param-name>contextConfigLocation</param-name>
          <param-value>                            
              /WEB-INF/configuration/servlet-context.xml
          </param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
      <!--<async-supported>true</async-supported>-->
  </servlet>
		
  <servlet-mapping>
      <servlet-name>dispatcherServlet</servlet-name>
      <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <!--Log4j configuration-->  
  <listener>
      <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <context-param>
      <param-name>log4jConfigLocation</param-name>
      <param-value>classpath:log4j.xml</param-value>
  </context-param>
  
       
  <!--Configurable context-->
  <context-param>
	<param-name>contextInitializerClasses</param-name>
	<param-value>com.template.webapp.spring.configuration.CustomApplicationContextInitializer</param-value>
  </context-param>
  	
  <!--Creates the Spring Container shared by all Servlets and Filters-->
  <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
</web-app>
